.slideshow-container {
    z-index: -9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .slideshow-image {
        position: absolute;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        filter: blur(2.5px);
        height: 102vh;
        width: 102vw;
        max-height: 102vh;
        max-width: 102vw;
        top: -1vh;
        left: -1vw;
        transition: opacity .25s ease-in-out, background-size .25s ease-in-out, height .25s ease-in-out, width .25s ease-in-out;
        opacity: 1;
        background-repeat: no-repeat;

        &.hidden {
            opacity: 0;
        }
    }

    &.blur {
        .slideshow-image {
            filter: blur(5px);
        }

        &::after {
            background-color: rgba(0, 0, 0, 0.625);
        }
    }

    &.unblur {
        .slideshow-image {
            filter: blur(0);
            background-size: auto 70vh;
            top: 0;
            left: 0;
            max-height: 100%;
            max-width: 100%;
        }

        &::after {
            display: none;
            background-color: transparent;
        }

        top: 15vh;
        left: 15vw;
        height: 70vh;
        width: 70vw;
    }
}

.slideshow-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;

    .slideshow-nav-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        .slideshow-nav-image {
            height: 10vh;
            box-shadow: 0 0 1rem rgba(87, 0, 128, 0.5);
            margin: 0.25rem 0.25rem;
            cursor: pointer;
            transition: box-shadow .25s ease-in-out;

            &.active {
                box-shadow: 0 0 0.5rem 7px rgba(124, 56, 155, 0.65);
            }
        }
    }
}