.editor-extra {
    max-height: 1150px;
    opacity: 1;
    position: relative;
    transition:
        0.25s ease-in-out max-height,
        0.25s ease-in-out opacity;
    &.hidden {
        z-index: -1;
        max-height: 0;
        opacity: 0;
    }

    .bg-body {
        --bs-bg-opacity: 0.85;
    }
}
.md-editor-toolbar-warp {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-canvas-subtle);
}
